.eventTask {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}
.event-task-div {
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}
.event-task-div img {
    width: 200px;
    margin-right: 12px;
}
.event-content {
    width: 50%;
}
.event-content h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
}
