.header{
    padding-bottom: 40px;
    position: relative;
}
.header::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../../images/header.jpg);
    opacity: 0.2;
    z-index: -1;
}

.header-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.header-content h1{
    color: rgb(109, 109, 109);
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 30px;
}